:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #b24219;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

#main {
    overflow: hidden;
}

body {
    margin: 0;
}
